@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* body{
} */

.caja-marcador{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-marcador{
    font-size: 20px;
    margin-bottom: 10px;
}

.titulo-jugador{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
    align-items: center;
}

.titulo-cpu{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 15%;
    align-items: center;
}

.marcador{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
}

.marcador-final{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

hr{
    height:100vh;
    width:.7vw;
    border-width:0;
    color:#000;
    background-color:#000;
}

.contenedor{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.contenedor-manos{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 95%;
    

}
.manos{
    display: flex;
    flex-direction: column;
 
}
.manos-compu{
    display: flex;
    flex-direction: column;
    margin-left: 50%;

}
.contenedor-grande { 
    display: flex;
    flex-direction: row;
    height:100%; 
    width: 100%;
    margin:0;
    padding:0;
}

.contenedor-resultado{
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
}

.text-mensajes{
    font-size: 45px;
}

.img-batalla{
    border-radius: 50%;
}

.mano-jugador{
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.mano-cpu{
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.mano-jugador:hover{
    border: 2px solid red;
    cursor: pointer;
    margin: 18px;
}